In [4]:
A = {1,2,3,8}
B = {3,4}

In [6]:
print (1 in A)

True

In [7]:
print (4 in A)

False

In [8]:
flag = 4 in A

In [10]:
type(flag)

bool

In [20]:
print(B.issubset(A))

False

In [27]:
def f_issubset(A,B):
    for e in A:
        if e in B:
            pass
        else:
            return False
    return True

In [29]:
print(f_issubset(B,A))

False

In [32]:
print(f_issubset({2,3,4},{1,2,3,4,5,6}))

True

In [1]:
import numpy as np

In [2]:
Omg = set(np.arange(10))

In [3]:
type(Omg)

set

In [4]:
Omg

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
A = set(np.arange(0,9,2))

In [6]:
A

{0, 2, 4, 6, 8}

In [7]:
B = set(np.arange(1,9,3))

In [8]:
B

{1, 4, 7}

In [9]:
A.union (B)

{0, 1, 2, 4, 6, 7, 8}

In [10]:
A.intersection(B)

{4}

In [11]:
B.add(6)

In [12]:
A.union(B)

{0, 1, 2, 4, 6, 7, 8}

In [13]:
B

{1, 4, 6, 7}

In [14]:
A.intersection(B)

{4, 6}

In [15]:
A.difference(B)

{0, 2, 8}

In [16]:
A_complement = Omg.difference(A)

In [17]:
A_complement

{1, 3, 5, 7, 9}

In [18]:
B_complement = Omg.difference(B)

In [20]:
Omg.difference(A.union(B))

{3, 5, 9}

In [21]:
A_complement.intersection(B_complement)

{3, 5, 9}

In [22]:
Omg.difference(A.union(B))

{3, 5, 9}

In [3]:
import pandas as pd

In [4]:
import seaborn as sns

In [5]:
iris = sns.load_dataset("iris")

In [7]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [13]:
T = sns.load_dataset("titanic")

In [15]:
T.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [16]:
T.survived.unique()

array([0, 1], dtype=int64)